body {
	background-color: #e2e8f2;
	color: #161718;
	text-align: center;
	font-family: 'Montserrat';
	width: 50%;
	margin-left: 25%;
}

h3 {
	text-align: left;
	float: left;
}

#container {
	height: 400px;
	width: 100%;
	background-color: #fff;
	border: 1px #ACB0B5 solid;
	display: table;
}

.tablecell {
	display: table-cell;
	vertical-align: middle;
}

form {
	padding: 1em;
	float: left;
	background-color: #F36C3D;
	color: #fff;
}

form div {
	float: left;
	width: 40%;
	margin-right: 5%;
	margin-left: 5%;
}
label {
	float: left;
	text-transform: capitalize;
}

input, select {
	float: right;
}

.header {
	margin-top: 3em;
	float: left;
	width: 100%;
}

.sharing {
	float: right;
}

.sharing li {
	margin-right: -20px;
	margin-top: 5px;
	float: right;
}

.footer {
	float: left;
	margin-top: 3em;
	color: #ACB0B5;
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid #F36C3D;
}

a:hover {
	color: #F36C3D;
}

#submit {
	margin-top: 2em;
	width: 20%;
	margin-left: 40%;
}

#submit input {
	width: 100%;
	padding: 0.2em;
}